* {
    margin: 0;
    padding: 0;
    font-size: 16px;
}


h3 {
    font-size: 18px;
    margin-bottom: 5px;
}

.header {
    width: 100%;
    background-color: #cecece;
    padding: 10px 0;
    text-align: right;
}

.btn {
    background-color: #f0f0f0;
    padding: 5px 20px;
    border-radius: 20px;
    border: 1px solid #000;
    transition: background-color .3s;
    outline: none;
}

.btn:hover {
    border-style: dotted;
    background-color: #cceecc;
    cursor: pointer;
}

.btn-cart {
    margin-right: 50px;
}

.buy-btn {
    float: right;
    margin-top: 10px;
}

.products {
    max-width: 80%;
    margin: 50px auto;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    align-content: flex-start;
}

.product-item {
    max-width: 200px;
    border: 1px solid #000;
    margin: 20px;
    text-align: center;
    padding: 10px;
}

.product-item__img {
    width: 80%;
    /* margin: 10px auto; */
}
